@model ProjectCore.DAL.Models.Activities

@{
    ViewData["Title"] = "Delete";
}

<h2>
    Delete Activities</h2>

    <h3
   class="badge  badge-danger">   Are you sure you want to delete this?</h3>
    <div>

        <hr />
        <table class="table
               tale-bordered">
            <tr>
                <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
            </tr>
            <tr>
                <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
           
            </tr>
            </table>
        

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-primary ">
                <i class="fa fas-save">
            </button>
            @Html.ActionLink("", "Index", "Activities", null, new { @class = "btn btn-primary fas fa-undo-alt " })

        </form>
    </div>
