@model ProjectCore.DAL.Models.Activities

@{
    ViewData["Title"] = "Details";
}

<h2>
    Details Activities</h2>
    <div>

        <hr />
        <table class="table
               tale-bordered">
            <tr>
                <td>
                @Html.DisplayNameFor(model => model.Name)
                </dt>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
            </tr>
            <tr>
                <td>
                @Html.DisplayNameFor(model => model.Active)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
                </tr>
        </table>
    </div>
    <div>

        @Html.ActionLink("", "Index", "Activities",new { id=Model.Id}, new { @class = "btn btn-primary fas fa-undo-alt " })


        @Html.ActionLink("", "Index", "Activities", null, new { @class = "btn btn-primary fas fa-undo-alt " })


    </div>
