@model ProjectCore.DAL.Models.States

@{
    ViewData["Title"] = "Details";
}

<h2>Details
    States</h2>

<div>
    <hr />
    <table class="table
           table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
                </td>
            <td>
                    @Html.DisplayFor(model => model.Active)
                </td>
        </tr>

        </table>
</div>
<div>
    @Html.ActionLink("", "Index", "States", new { id = @Model.Id }, new { @class = "btn btn-primary fas fa-edit " })  
    @Html.ActionLink("", "Index", "States", new { id = @Model.Id }, new { @class = "btn btn-primary fas fa-undo-alt " })

   
</div>
