@model IEnumerable<ProjectCore.DAL.Models.States>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


    @Html.ActionLink("", "Create", "Activities", null, new { @class = "btn btn-primary fas fa-plus.circle " })

<table class="table  table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>

                    @Html.ActionLink("", "Edit", "States", new { id = item.Id }, new { @class = "btn btn-primary fas fa-edit " })
                    @Html.ActionLink("", "Details", "States", new { id = item.Id }, new { @class = "btn btn-primary fas fa-undo-alt " })

                    @Html.ActionLink("", "Delete", "States", new { id = item.Id }, new { @class = "btn btn-primary fas fa-trash " })


                </td>
            </tr>
        }
    </tbody>
</table>
